AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=
SMS_ENABLED=false
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_BASE_URL=https://sandbox.safaricom.co.ke
MPESA_CALLBACK_SECRET=
MPESA_SIMULATE=true
MPESA_TIMEOUT=15
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
